.sgpa-wrapper {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    padding-top: 50px;
    padding-left: 50px;
    margin-left: 70px;
}

.sgpa-left {
    flex: 1.7;
}

.sgpa-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.sgpa-ring {
    width: 200px;
    height: 200px;
}

.sgpa-text {
    font-size: 2.3rem;
    font-weight: 600;
    text-anchor: middle;
    dominant-baseline: middle;
}

.progress-circle {
    transition: stroke-dashoffset 1.2s ease-out, stroke 0.5s ease;
}

.cgpa-wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-top: 30px;
}

.cgpa-left {
    flex: 0 0 40%;
}

.sem-cell{
    width: 90px;
    margin-right: 40px;
}

.credits-cell{
    width: 120px;
    padding: auto;
}

.cgpa-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simulate-left {
    flex: 0 0 40px;
}

.simulate-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sgpa-cell {
    display: flex;
    align-items: center;
    gap: 12px;
}

.sgpa-slider {
    flex: 1;
    margin: 0;
    padding: 0;
}

.sgpa-input {
    width: 90px;
    text-align: center;
}

footer {
    background-color: #efefef;
    padding: 10px 20px;
}

.footer-content {
    width: 100%;
}

.footer-credits {
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.fa {
    font-size: 24px;
    text-decoration: none;
    color: #333;
    transition: opacity 0.3s ease;
}

.fa:hover {
    opacity: 0.7;
}




