{% extends "layout.html" %}
{% block head %}
    <title>9Point0</title>
{% endblock %}

{% block body %}
    <div class="container my-4">
        <h1 class="fw-bold">9Point0</h1>
        <p class="text-muted">
            Plan, simulate, and understand your GPA — not just calculate it.
        </p>

    <div class="row g-4 mt-4">

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">SGPA Calculator</h5>
                    <p class="card-text">
                        Calculate semester GPA from courses, grades & credits.
                    </p>
                    <a href="/sgpa" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">CGPA Calculator</h5>
                    <p class="card-text">
                        Calculate and simulate CGPA of all semesters completed.
                    </p>
                    <a href="/cgpa" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>

    </div>


        <div class="row mt-5 text-center">
            <div class="col">
                <h6 class="text-muted">Latest SGPA</h6>
                <h3>8.42</h3>
            </div>
            <div class="col">
                <h6 class="text-muted">Current CGPA</h6>
                <h3>8.10</h3>
            </div>
            <div class="col">
                <h6 class="text-muted">Target CGPA</h6>
                <h3>8.5</h3>
            </div>
        </div>

        <h4 class="mt-5">How CGPA is calculated</h4>
        <ul class="text-muted">
            <li>Each semester SGPA is weighted by its credits</li>
            <li>Higher credit semesters matter more</li>
            <li>One bad semester can be fixed with planning</li>
        </ul>
    </div>

    <footer>
            <div class="footer-content">
                <p class="footer-credits">Made by Vaibhav</p>
                <div class="social-icons">
                    <a href="https://x.com/vj031206" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/@vj3-1206" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="https://www.linkedin.com/in/vaibhav-jain-76470a307/" class="fa fa-linkedin"></a>
                    <a href="https://github.com/vj031206" class="fa fa-github"></a>
                </div>
            </div>
        </footer>

{% endblock %}